
/* 폰트 */
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

 /* 나눔고딕 */
 .topArea > div .leftArea h2 ,
 .topArea > div .leftArea ul li,
 .topArea > div form fieldset strong,
 .topArea > div form fieldset input,
 .productArea > ol > li,
 .productArea .bottomBG,
 .popupArea > div fieldset
 footer{font-family: 'Nanum Gothic', serif;}

 /* SBAggroB */
 .topArea > div .leftArea .textBox p{font-family: 'SBAggroB';}

 /* GmarketSansMedium */
 .productArea > div,
 .productArea > ol > li.certificationArea > div div,
 .productArea .centerBG{font-family: 'GmarketSansMedium';}

 /* 포인트 색상 */
 mark.green{color: #56a54d;}
 mark.blue{color: #16205a;}

@media screen and (min-width : 1101px) {
    @media screen and (min-width : 1241px) {
        html{font-size: 12.8px;}
    }
    @media screen and (max-width : 1240px) {
        html{font-size: 11px;}
    }

    /* 컨텐츠 크기 */
    .contentSize{max-width: 91.250rem; margin: 0 auto;}

    .pLeft01{padding: 0 1.250rem;}
    .pLeft02{padding: 0 2.500rem;}

    .mobile{display: none;}

    /* 팝업 */
    .popupArea{display: none; justify-content: center; align-items: center; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8); z-index: 1000;}
    .popupArea > div{background-color: white; border-radius: 1.250rem;}

    /* 해더 */
    header{background-color: white; padding: 1.563rem 0; text-align: center;}

    /* 푸터 */
    footer{padding: 10.000rem 0; background: url('../images/footer-bg.png') no-repeat center / cover;}
    footer > div{display: flex; align-items: center;}
    footer > div img{flex-shrink: 0; width: 13.125rem; margin-right: 6.250rem;}
    footer > div address p{font-size: 1.625rem; font-weight: 800; color: #fff; line-height: 2.813rem; }
}
