
/* 폰트 */
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

 /* 나눔고딕 */
.topArea > div .leftArea h2 ,
.topArea > div .leftArea ul li,
.topArea > div form fieldset strong,
.topArea > div form fieldset input,
.productArea > ol > li,
.productArea .bottomBG,
.popupArea > div fieldset,
.popupArea.applicationArea > div fieldset,
.popupArea.applicationComplete,
.oldAge > div div ,
.firstPopup .cacaoBtn,
footer{font-family: 'Nanum Gothic', serif;}

/* SBAggroB */
.topArea > div .leftArea .textBox p{font-family: 'SBAggroB';}

/* GmarketSansMedium */
.productArea > div,
.productArea > ol > li.certificationArea > div div,
.productArea .centerBG,
.oldAge > div h2,
.planArea,
.system2Area div ul li{font-family: 'GmarketSansMedium';}

/* 포인트 색상 */
mark.green{color: #56a54d;}
mark.blue{color: #16205a;}
mark.brown{color: #7a3415;}
mark.brown2{color: #8b2d03;}
mark.brown3{color: #b25400;}

input[type="text"]{border: 2px solid #e3e3e3; box-sizing: border-box;}
input[type="text"].error{border: 2px solid red; outline-color: red; border-radius: 5px;}

@media screen and (min-width : 1101px) {
    @media screen and (min-width : 1241px) {
        html{font-size: 12.8px;}
    }
    @media screen and (max-width : 1240px) {
        html{font-size: 11px;}
    }

    /* 컨텐츠 크기 */
    .contentSize{max-width: 91.250rem; margin: 0 auto;}

    .pLeft01{padding: 0 1.250rem;}
    .pLeft02{padding: 0 2.500rem;}

    .mobile{display: none;}

    /* 팝업 */
    .firstPopup{display: none; position: fixed; left: 30px; top: 30px; width: 400px; z-index: 1000; line-height: 0;}
    .firstPopup img{width: 100%;}
    .firstPopup .cacaoBtn{width: 100%; line-height: 1; font-size: 1.5rem; font-weight: 700; padding: 0.5rem 0;}
    .firstPopup span{position: absolute; right: 0; top: 0; transform: translateY(-100%); font-size: 2rem; cursor: pointer;}
    .firstPopup div{display: block; text-align: right; line-height: 1; background-color: white; padding-top: 0.5rem;}
    .firstPopup div label{font-size: 1.4rem; font-weight: 700; cursor: pointer;}
    .popupArea{display: none; justify-content: center; align-items: center; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8); z-index: 1000;}
    .popupArea.active{display: flex;}
    .popupArea > div{background-color: white; border-radius: 1.250rem; position: relative;}
    .popupArea > div > span{position: absolute; right: 1rem; top: 1rem; font-size: 2.5rem; cursor: pointer;}

    /* 카카오 링크 */
    .cacaoBtn{display: flex; justify-content: center; align-items: center; background-color: #fae100; color: #3c1d1e;}
    a.cacaoBtn::after{content: ''; width: 2.500rem; height: 2.500rem; background: url('../images/icon-cacao.png') no-repeat center / cover; margin-bottom: 0.313rem;}

    /* 픽스트 링크  */
    /* 카카오 */
    .fixedLink{display: none; position: fixed; right: 30px; bottom: calc(9rem + 30px); font-size: 1rem; font-weight: 700; text-align: center; z-index: 1000;}
    .fixedLink::before{content: ''; display: block; width: 100%; padding-bottom: 100%; background:#fae100 url('../images/icon-cacao.png') no-repeat center / 80%; margin-bottom: 0.313rem; border-radius: 100%;}

    /* 해더 */
    header{background-color: white; padding: 1.563rem 0; text-align: center;}

    /* 하단 픽스드 */
    .bottomFix{position: fixed; bottom: 0; left: 0; width: 100%; z-index: 100; background-color: #f2f2f2; padding: 2rem 0; border-top: 1px solid #dbdbdb;}
    .bottomFix fieldset{display: flex; justify-content: space-between;}
    .bottomFix fieldset *{width: 23%; font-size: 1.750rem;}
    .bottomFix fieldset input[type="text"]{padding: 1rem 2rem; box-sizing: border-box;}
    .bottomFix fieldset :is(button , input[type="submit"]){font-weight: 700; border-radius: 0.938rem; box-sizing: border-box;}
    .bottomFix fieldset button{color: #192264; border:2px solid #192264; background-color: white;}
    .bottomFix fieldset input[type="submit"]{background-color: #192264; color: white; border: none;}

    /* 푸터 */
    footer{padding: 10.000rem 0; background: url('../images/footer-bg.png') no-repeat center / cover; margin-bottom: 6.875rem;}
    footer > div{display: flex; align-items: center;}
    footer > div img{flex-shrink: 0; width: 13.125rem; margin-right: 6.250rem;}
    footer > div address p{font-size: 1.625rem; font-weight: 700; color: #fff; line-height: 2.813rem; }
}
