/* 폰트 */
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* html{zoom: 0.8;} */
/* 나눔고딕 */
.topArea > div .leftArea h2 ,
.topArea > div .leftArea ul li,
.topArea > div form fieldset strong,
.topArea > div form fieldset input,
.productArea > ol > li,
.productArea .bottomBG,
footer{font-family: 'Nanum Gothic', serif;}

/* SBAggroB */
.topArea > div .leftArea .textBox p{font-family: 'SBAggroB';}

/* GmarketSansMedium */
.productArea > div,
.productArea > ol > li.certificationArea > div div,
.productArea .centerBG{font-family: 'GmarketSansMedium';}

/* 컨텐츠 크기 */
.contentSize{max-width: 1460px; margin: 0 auto;}

/* 포인트 색상 */
mark.green{color: #56a54d;}
mark.blue{color: #16205a;}

.pLeft01{padding: 0 20px;}
.pLeft02{padding: 0 40px;}

/* 해더 */
header{background-color: white; padding: 25px 0; text-align: center;}

/* 푸터 */
footer{padding: 160px 0; background: url('../images/footer-bg.png') no-repeat center / cover;}
footer > div{display: flex; align-items: center;}
footer > div img{flex-shrink: 0; width: 210px; margin-right: 100px;}
footer > div address p{font-size: 26px; font-weight: 800; color: #fff; line-height: 45px; }