[class*="system"] h3{margin-bottom: 3.125rem;}
[class*="system"] div p{font-weight: 400;}
.systemArea div{padding-bottom: calc(54.5% + 5.000em); background: url('../images/system-img.png') no-repeat center bottom / 100%;}
.system2Area div p{margin-bottom: 5.625rem;}
.system2Area div ul{display: flex; justify-content: space-between;}
.system2Area div ul li{width: 30.5%; height: 40.625rem; padding: 19.375rem 1.875rem 0; box-sizing: border-box; background-repeat: no-repeat; background-size: 11.250rem; background-position: center top 5.313rem; text-align: center; border: 2px solid #999999;}
.system2Area div ul li:nth-child(1){background-image: url('../images/system-icon01.png');}
.system2Area div ul li:nth-child(2){background-image: url('../images/system-icon02.png');}
.system2Area div ul li:nth-child(3){background-image: url('../images/system-icon03.png');}
.system2Area div ul li mark{display: block; font-size: 2.750rem; font-weight: 500; color: #32460c; line-height: 1; padding: 1.875rem 0; border-top: 2px solid #bababa;}
.system2Area div ul li p{font-size: 1.750rem; line-height: 2.500rem; font-weight: 500;}
